/*Menu CSS*/
html[lang="ar"] .dd-menu > li > ul li ul {
    right: 101% !important;
    max-width: fit-content;
    width: auto;
    min-width: fit-content;
}
html[lang="ar"] .dd-menu > li > ul > li > a i {
    transform: rotate(180deg);
    right: 11px;
    position: absolute;
    top: 52%;
    transform: translateY(-50%) rotate(180deg);
}

html[lang="ar"]  .header-info-col i {
    transform:  rotate(270deg);
}

html[lang="ar"] .block-title:before, html[lang="ar"] .widgettitle:before, html[lang="ar"] .widget-title:before, html[lang="ar"] .vc_custom_heading:before {
    right: 0;
}
/* End */
/* Start masonry*/
html[lang="ar"] select#filter_by{
    margin-right: 10px !important;
}
html[lang="ar"] .mejs-button.mejs-playpause-button.mejs-play {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
html[lang="ar"] .mejs-button.mejs-volume-button.mejs-mute {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
html[lang="ar"] .icon-box.ibox-outline{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
html[lang="ar"] .fact-ico{
    float: right;
    margin-left: 20px;
}
html[lang="ar"] span.fact {
    text-align: center;
}
html[lang="ar"] ul.icon i.fa.fa-caret-right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.story_not_found{
    display: none;
}
h2.search_result_for{
    display: none;
}
.masonry {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: 0.85em;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
}

@media only screen and (max-width: 320px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}


/* End masonry*/

select#filter_by {
    width: 70%;
    height: 30px;
    margin-left: 10px;
    float:left;
}
.story_not_found{
        text-align: center;
}
.story_lable{
    float:left;
}
#story_search_number{
    display: none;
}
input#story_search,#story_search_number{
    width: 100%;
    float: right;
    height: 30px;
}
 #overlay{ 
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}

/* Responsive CSS*/
.mejs-container { max-width: 100% !important; }
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .masonry { width:100%; margin-left:0; margin-right:0;}
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
    .masonry { width:100%; margin-left:0; margin-right:0; -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; grid-template-columns: 1fr 1fr; }
}
@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry { width:100%; margin-left:0; margin-right:0; -moz-column-count: 1; -webkit-column-count: 1; column-count: 1; grid-template-columns: 1fr; }
    .mejs-container { width: 100% !important;}
}
@media only screen and (max-width: 992px){
body .col-md-4 ~ #content-col.col-md-12{
    float: left !important;
}
}
/* End */